@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title-1,
.title-2,
figure,
.button-group-1,
.button-group-2,
.back {
  font-family: "Montserrat", sans-serif;
  color: #252525;
  padding-left: 43px;
  padding-right: 43px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
  padding-top: 5px;
  padding-bottom: 13px;
  line-height: 20px;
}
.desc {
  color: #666666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 3%;
}
.avatar-wrapper-1 {
  display: flex;
  align-items: center;
}
.avatar-wrapper-2 {
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}
.blank-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.figcaption {
  margin-left: 10px;
}
figure {
  padding-top: 25px;
}
.figcaption {
  position: relative;
}
.time {
  color: #939393;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.figcaption-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
}
.figcaption-name-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
}
.figcaption-name-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #252525;
}

.auth-body {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-layout {
  background-color: #ffffff;
  padding-top: 10px;
  margin: 0 auto;
  width: 480px;
  height: 100%;
}
.head-layout {
  position: relative;
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  align-items: center;
  width: 480px;
}

.btn-back {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  cursor: pointer;
}
.back {
  position: absolute;
  transform: translateY(-50);
  margin-right: 20px;
  cursor: pointer;
}

.btn-search {
  height: 32px;
  margin-right: 65px;
  cursor: pointer;
}

.btn-menu {
  height: 32px;
  position: absolute;
  right: 0;
  margin-right: 25px;
  cursor: pointer;
}

.blank-avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.button-group-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
  cursor: pointer;
}
.button-group-2 {
  cursor: pointer;
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 16px;
}

.button::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 1px;
  right: 0;
  top: 25%;
}

.share p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #252525;
}

.rectangle-1 {
  width: 480px;
  height: 1px;
  background-color: #e3e3e3;
  border-radius: 10px;
  margin-top: 8px;
}
.rectangle-2 {
  width: 480px;
  height: 9px;
  background-color: #fafafa;
  border-radius: 10px;
}
.title-2 {
  color: #666666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 3%;
}
.username {
  color: #252525;
}
.comment-container-1 {
  border-left: 1px solid #c1c1c1;
  margin-left: 35px;
}
.comment-container-2 {
  border-left: 1px solid #c1c1c1;
  margin-left: 65px;
}

.navbar-container {
  border-top: 1px #e3e3e3 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 480px;
  height: 94px;
  bottom: 0;
  background-color: #ffffff;
}

form {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.comment-input-wrapper {
  flex: 1;
  margin-right: 10px;
}

.comment-input {
  width: 362px;
  height: 54px;
  padding: 10px;
  border: none;
  background-color: #e3e3e3;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
}

.btn-comment {
  border: none;
  color: #fff;
  border-radius: 100px;
  cursor: pointer;
  z-index: 1001;
}

.comment-icon {
  width: 32px;
  height: 32px;
  /* z-index: 1001; */
  border-radius: 10px;
}
